*{
    margin: 0;
    padding: 0;
}
.cont{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 90% 80%;
    grid-template-rows: 90px 20px;
    grid-template-areas: "h . n " ;
}

header{
    background-color: aqua;
    grid-area: h;
}
nav{
    background-color: rgb(37, 177, 177);
    grid-area: n;
}